@import '../Zenith/current/theme/waybar.css';
@import '../waybar/font.css';

* {
    border: none;
}

window#waybar {
    background: @background;
    color: @foreground;
    border-top: 2px solid @overlay_background;
}

/* Common style for all centered icons */
#custom-start, #custom-search, #custom-taskview, #custom-widgets, 
#custom-explorer, #custom-browser, #custom-store {
    margin: 4px 2px;
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px; /* Adjust this to change icon size */
    transition: background-color 0.2s;
    border-radius: 4px;
}

#custom-start:hover, #custom-search:hover, #custom-explorer:hover, 
#custom-browser:hover, #custom-store:hover {
    background-color: @overlay_background;
}

/* Link each module to your SVG files */
#custom-start {
    background-image: url("assets/windows-11/Windows_logo.png");
}

#custom-search {
    font-size: 20px;
}

#custom-explorer {
    background-image: url("assets/windows-11/Windows_Explorer.png");
}

#custom-browser {
    background-image: url("assets/windows-11/chrome.png");
}

#custom-store {
    background-image: url("assets/windows-11/Microsoft_Store.png");
}

/* Taskbar for currently open apps */
#taskbar button {
    margin: 4px 2px;
    padding: 0 10px;
    border-bottom: 3px solid @overlay_background;
}

#taskbar button.active {
    border-bottom: 4px solid @selected;
    background: @overlay_background;
}

#taskbar button:hover {
    background: @overlay_background;
    border-top: 0px solid @selected;
}

/* System Tray & Clock styling */
#clock {
    padding: 0 10px;
    font-size: 11px;
}

#network {
    margin: 0px 5px 0px 10px;
}

#pulseaudio {
    margin: 0px 8px 0px 10px;
}

#battery {
    margin: 0px 15px 0px 10px;
}


#custom-expand-icon {
  margin-right: 18px;
}

#tray {
  margin-right: 16px;
}
